.nav{
    top: 0;
    position:sticky;
    background-color: #0353b3;
    height: 70px;
    width: 100%;
    align-items: center;
    display: flex;
}

.logo{
    justify-items: center;
    position:absolute;
    left: 35rem;
}

.logo img{
    height: 50px;
}

.btn_voltar{
    background-color: transparent;
    border: transparent;
    display: flex;
    cursor: pointer;
}
.btn_voltar a {
    font-size: 1rem;
    color: #ffffff;
    text-decoration: none;
}