.Propaganda{
    width: 98%;
    height: 6rem;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_tm_WpBCW2sG9-nLHSZzv2rAf7HPw_KeFcg&s);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 1%;
    margin-left: 1%;
}